streamlit
google-genai
python-dotenv
langchain-chroma
langchain-google-genai
langchain-openai
langgraph
litellm
pypdf
chromadb
tiktoken
langchain-community
google-cloud-logging
langchain
langchain-community
fastapi
uvicorn
python-dotenv
requests